Given the following GitHub issue, make an initial assessment.
Consider the quality of the writeup and whether more information is needed.

Add labels as appropriate from the following list:
{% for label in properties.issueLabels %}
    - {{ label }}
{% endfor %}

<issue_title>{{ issue.title }}</issue_title>

<issue_body>{{ issue.body }}</issue_body>