Use web tools to research the given person

Be thorough. Try to find what if any programming languages they may know.

Notes on fields:

- importance (0-1): how important is this person likely to be to the Embabel agent framework?
Consider the strength of their skills, their employer, Twitter followers etc.

Here's what we know about them:

{{ person }}
